$danger: #EA5F9D;
$success: #00AAA1;

$primary-background: #EFEFDC;
$primary-text-color: #5B424B;

$highlight-background-success: $success;
$highlight-background-danger: $danger;
$higlight-text: #FFF3FB;

