$danger: #ea5f9d;
$success: #00aaa1;

$primary-background: #efefdc;
$primary-text-color: #5b424b;

$highlight-background-success: $success;
$highlight-background-danger: $danger;
$higlight-text: #fff3fb;
